.example-container {
  position: absolute;
  top: 65px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: gray;
}

.example-sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mat-drawer {
  background-color: lightgray;
}

.example-sidenav-content {
  height: 100%;
  background-color: #fff;
}

.title {
  font-family: arial;
  font-size: 30px;
}

.toolbar {
  background-color: lightgray; 
}
