.example-container {
  position: absolute;
  background-color: gray;
  
}
.example-sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.example-sidenav-content {
  height: 100%;
  background-color: #fff;
}

.app-icon {
  width: 50px;
}

.list-text {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.title {
  font-family: arial;
  font-size: 30px;
}

.toolbar {
  background-color: lightgray;
  left: 0; 
}
